<html>
    <head>
        <title>add-article</title>
    </head>
    <body>
        <h1>addArticle</h1>
        <form action = "/articles" method = "POST">
            <label for="articleName">Name: </label>
            <input type = "text" name = "articleName"><br>
            <label for="articleContent">Content: </label>
            <input type = "text" name = "articleContent"><br>
            <button type="submit">Submit</button>
        </form>
        <a href="/">Homepage</a><br>
        <a href = "/articles">All Articles</a>
    </body>
</html>