<html>
    <head>
        <title>article</title>
    </head>
    <body>
        <h1>Article # {{{articleNo}}}</h1>
        <p>Article Name: {{articleName}}</p>
        <p>Article Content: {{articleContent}}</p>
        <p>Article Date: {{articleDate}}</p>
        <a href = "/articles">All Articles</a>
    </body>
</html>